<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
    <style>
        section {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            padding: 15px;
        }

        article {
            padding: 10px;
            border: 2px solid black;
            border-radius: 5px;
        }

        img {
            width: 100%;
        }
    </style>
</head>

<body>
    <section>
        <%- include ('../components/article.ejs'); %>
    </section>
</body>

</html>